.photo{
    float:left;
    margin-left: 10%;
}

.image{
    border-radius: 100%;
}

.head1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch: condensed;
    background-color: #191970;
    color: white;
}

.trainertype{
    text-transform: capitalize;
}